<section class="home">
  <h1>R-Sorter</h1>
</section>

<ng-container *ngIf="boxes$ | async as boxes">
  <ng-container *ngIf="tasks$ | async as tasks">
    
    <app-dashboard
      [boxes]="boxes"
      [tasks]="tasks">
    </app-dashboard>

    <app-quick-actions
      (addBox)="addMockBox()"
      (resetWarehouse)="resetWarehouse()">
    </app-quick-actions>

    <app-warehouse
      [columns]="20"
      [heights]="5"
      [boxes]="boxes">
    </app-warehouse>

    <app-task-list
      [tasks]="tasks">
    </app-task-list>

  </ng-container>
</ng-container>
